In [6]:
import pandas as pd

In [12]:
# definir rutas de archivos a  cargar
path_csv = "df_23_08.csv"
path_excel = "df_23_08.xlsx"
path_json = "df_23_08_json"

In [25]:
# cargar documento csv
df_csv = pd.read_csv(path_csv)
df_csv

   edad  estatura nacinalidad c_hijos
0    18      1.70        peru       1
1    18      1.65        peru     dos
2    25      1.82        eeuu    cero
3    32      2.00     Ucrania       2

In [13]:
df_json = pd.read_json(path_json)
df_json

   edad  estatura nacinalidad c_hijos
0    18      1.70        peru       1
1    18      1.65        peru     dos
2    25      1.82        eeuu    cero
3    32      2.00     Ucrania       2